# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# VSCode
.vscode/

# Database
*.db

# Logs
*.log

# Build
dist/
build/

# Pytest
.pytest_cache/

# Coverage
.coverage

# Results
data/results/*

# Uploads
data/uploads/*data/databases/
*.LIB
