# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# VSCode
.vscode/

# Database
*.db

# Logs
*.log

# Build
dist/
build/

# Pytest
.pytest_cache/

# Coverage
.coverage

# Results
data/results/*

# Uploads
data/uploads/

# Database Backups
backups/
deploy/database/*.dump

# Nextflow
.nextflow/
nextflow/.nextflow/
.nextflow.log*

# Celery
celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule.bak
celerybeat-schedule.dir
celerybeat-schedule.dat
celerybeat-schedule-shm
celerybeat-schedule-wal
